.App {
  text-align: center;
  background: rgb(129,212,101);
  background: linear-gradient(220deg, rgba(129,212,101,1) 0%, rgba(0,212,255,1) 100%);
  min-height: 100vh;
}

.marquee-wrapper {
  background-color: #fcac08;
  width:100vw;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}