.App {
  text-align: center;
  min-height: 100vh;
}

.marquee-wrapper {
  background-color: #fcac08;
  width:100vw;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}