form {
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    padding: 5px;
}

.formControl {
    margin: 10px;
    width: 100%;
}

.submitButton {
    min-width: 200px;
    margin: auto;
    max-width: 300px;
    transition: 0.3s cubic-bezier(.47,1.64,.41,.8);
    border-radius: 50px;
    background:linear-gradient(to right, rgba(80, 189, 43, 0.55), rgba(0, 213, 255, 0.516));
}

.submitButton:hover {
  transform: scale(1.05);
}

.submitButton.label {
    color: 'white';
    text-transform: none;
    font-size: 15;
    font-weight: 700;
}